<header>
    <section class="nav">
        <a href="http://hood.ie" class="logo"><img src="/src/img/logo.svg" width="135" alt=""></a>
        <nav class="main-nav">
            <a href="http://hood.ie/intro">Intro</a>
            <a href="http://hood.ie/contribute">Contribute</a>
            <a href="http://hood.ie/get-help">Get help</a>
            <a href="http://hood.ie/about">About</a>
            <a href="http://hood.ie/community">Community</a>
            <a href="http://hood.ie/animals">Animals</a>
            <a href="http://hood.ie/contact">Contact</a>
        </nav>
        <ul class="meta-nav">
            <li class="meta-nav-list-item"><a href="http://hood.ie/blog/" target="_blank">Blog</a></li>
            <li class="meta-nav-list-item"><a href="/" class="active">Docs</a></li>
            <!-- <li><a href="#">try</a></li> -->
            <li class="meta-nav-list-item"><a href="http://faq.hood.ie" target="_blank">FAQ</a></li>
        </ul>
        <a href="#" class="menu-button">
            <span class="menu-button-span"></span>
        </a>
    </section>
    <section>
        <ul class="sub-nav">
            <li class="sub-nav-list-item">
                <a href="/de/">Hoodieverse</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/de/start">Let's start</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/de/tutorials">Tutorials</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/de/techdocs">API</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/de/plugins">Plugins</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/de/deployment">Deployment</a>
            </li>
            <!--
            <li class="sub-nav-list-item">
                <a href="/divedeep">Dive deep</a>
            </li>
        -->
            <li class="sub-nav-list-item">
                <a href="/community">Community</a>
            </li>
        </ul>
    </section>
</header>
