        <footer>
            <div class="footer">
                <section class="cb sitemap">
                    <ul class="sitemap-list l grid-3">
<!-- hoodie -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html">hoodie</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#url">.url</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#request">.request()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#extend">.plugin()</a>
                        </li>
<!-- hoodie.account -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html">hoodie.account</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountid">.id</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountusername">.username</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountvalidate">.validate()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountisSignedIn">.isSignedIn()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accounthasInvalidSession">.hasInvalidSession()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignUp">.signUp()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignIn">.signIn()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignOut">.signOut()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountdestroy">.destroy()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountget">.get()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountfetch">.fetch()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountupdate">.update()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#account">.profiprofile.getle.get()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#account">.profiprofile.fetchle.fetch()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#account">.profiprofile.updatele.update()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountrequest">.request()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accounton">.on()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountone">.one()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountoff">.off()</a>
                        </li>
                    </ul>
                    <ul class="sitemap-list l grid-3">
<!-- hoodie.store -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#store">hoodie.store</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeadd">.add()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefind">.find()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefindOrAdd">.findOrAdd()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefindAll">.findAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeupdate">.update()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeupdateOrAdd">.updateOrAdd()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeupdateAll">.updateAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeremove">.remove()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeremoveAll">.removeAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storepull">.pull()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storepush">.push()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storesync">.sync()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeconnect">.connect()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storedisconnect">.disconnect()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeisConnected">.isConnected()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storehasLocalChanges">.hasLocalChanges()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeon">.on()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeone">.one()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeoff">.off()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#scopedstore">store()</a>
                        </li>
                    </ul>

                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#log">hoodie.log</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logcall()">log()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logprefix">.prefix</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#loglevel">.level</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logdebug()">.debug()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#loginfo()">.info()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logwarn()">.warn()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logerror()">.error()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.log.html#logscoped()">.scoped()</a>
                        </li>
                    </ul>

                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#log">hoodie.connectionStatus</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#connectionStatusok">ok</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#connectionStatuscheck">check()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#connectionStatusstartChecking">startChecking()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#connectionStatusstopChecking">stopChecking()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.connection-status.html#connectionStatusreset">reset()</a>
                        </li>
                    </ul>
                </section>
                <section class="cb footer-licensing">
                    <small>© 2012-2015 <a href="https://github.com/hoodiehq" target="_blank">the Hoodie Community</a> and other <a href="http://hood.ie/community#contributors">contributors</a>. Hoodie is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License 2.0</a>.<br />All pictures, photos and illustrations are owned by the Hoodie Open Source Project and licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en" target="_blank">CC BY-NC-ND 4.0</a>.</small>
                </section>
            </div>
        </footer>
        <script src="//hoodiehq.github.io/hoodie-css/src/js/prod/hoodie.min.js"></script>
        <script type="text/javascript" src="/src/js/smoothscroll.min.js"></script>
        <script src="/src/js/camp-teaser.js"></script>
        <script src="/src/js/egg.js"></script>
        <script src="/src/js/prism.js"></script>
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '515d9805108d7b3064000032');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);

            // Adds the 'back-to-top'-link before each section, except the first
            $('.docs .cb h3 a[href*="#"]').slice(1).parent().before('<a href="#top" class="back-to-top">Back to top</a>');

          })();

        </script>
    </body>
</html>
