        <footer>
            <div class="footer">
                <section class="cb sitemap">
                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="http://hood.ie">FOOTER default</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="http://hood.ie/intro">What is Hoodie?</a>
                        </li>
                        
                    </ul>
                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="http://hood.ie/contribute">Contribute</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="http://hood.ie/contribute#development">Development</a>
                        </li>
                        
                    </ul>
                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="http://hood.ie/about">About</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="http://hood.ie/animals">Animals</a>
                        </li>
                        
                    </ul>
                </section>
                <section class="cb footer-licensing">
                    <small>© 2012-2014 <a href="https://github.com/hoodiehq" target="_blank">the Hoodie Community</a> and other <a href="/community#contributors">contributors</a>. Hoodie is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License 2.0</a>.<br />All pictures, photos and illustrations are owned by the Hoodie Open Source Project and licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en" target="_blank">CC BY-NC-ND 4.0</a>.</small>
                </section>
            </div>
        </footer>
        <script src="http://hood.ie/dist/prod/hoodie.min.js"></script>
        <script src="/src/js/egg.js"></script>
       <!-- <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '515d9805108d7b3064000032');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script> -->
    </body>
</html>
