        <footer>
            <div class="footer">
                <section class="cb sitemap">
                    <ul class="sitemap-list l grid-3">
<!-- language -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="">{{site.locales[page.locales].lang}}</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/en/">{{site.locales[page.locales].label.en}}</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/de/">{{site.locales[page.locales].label.de}}</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/ru/">{{site.locales[page.locales].label.ru}}</a>
                        </li>
<!-- hoodie -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html">hoodie</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#baseUrl">.baseUrl</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#id">.id()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#on">.on()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#one">.one()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#off">.off()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#trigger">.trigger()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#request">.request()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#open">.open()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#checkConnection">.checkConnection()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#isConnected">.isConnected()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.html#extend">.extend()</a>
                        </li>
<!-- hoodie.account -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html">hoodie.account</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountusername">.username</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignup">.signUp()</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignin">.signIn()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountsignout">.signOut()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountchangepassword">.changePassword()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountchangeusername">.changeUsername()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountresetpassword">.resetPassword()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountdestroy">.destroy()</a>
                        </li><li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.account.html#accountevents">Events</a>
                        </li>
                    </ul>
                    <ul class="sitemap-list l grid-3">
<!-- hoodie.store -->
                       <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#store">hoodie.store</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeadd">.add()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefind">.find()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefindoradd">.findOrAdd()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storefindall">.findAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeupdate">.update()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeupdateall">.updateAll()</a>
                        </li><li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeremove">.remove()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeremoveall">.removeAll()</a>
                        </li><li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeon">.on</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/client/hoodie.store.html#storeevents">Events</a>
                        </li>
                        <!-- hoodie.email -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/plugins/hoodie.email.html">hoodie.email</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/plugins/hoodie.email.html#emailsend">.send()</a>
                        </li>
<!-- hoodie.global -->
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/plugins/hoodie.plugin.global.share.html">hoodie.global</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/plugins/hoodie.plugin.global.share.html">.publish()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/plugins/hoodie.plugin.global.share.html">.unpublish()</a>
                        </li>
                    </ul>
<!-- hoodie.task
                    <ul class="sitemap-list l grid-3">
                        <li class="sitemap-item sitemap-item-bold">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html">hoodie.task</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#store">.store()</a>
                        </li>

                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#validate">.validate()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#save">.save()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#add">.add()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#find">.find()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#findOrAdd">.findOrAdd()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#findAll">.findAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#update">.update()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#updateAll">.updateAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#remove">.remove()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#removeAll">.removeAll()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#decoratePromises">.decoratePromises()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#trigger">.trigger()</a>
                        </li>
                        <li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#on">.on()</a>
                        </li><li class="sitemap-item smaller">
                            <a class="sitemap-link" href="/{{page.locales}}/techdocs/api/server/hoodie.task.html#unbind">.unbind()</a>
                        </li>
                    </ul> -->
                </section>
                <section class="cb footer-licensing">
                    <small>© 2012-2015 <a href="https://github.com/hoodiehq" target="_blank">the Hoodie Community</a> and other <a href="http://hood.ie/community#contributors">contributors</a>. Hoodie is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License 2.0</a>.<br />All pictures, photos and illustrations are owned by the Hoodie Open Source Project and licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en" target="_blank">CC BY-NC-ND 4.0</a>.</small>
                </section>
            </div>
        </footer>
        <script src="//hoodiehq.github.io/hoodie-css/src/js/prod/hoodie.min.js"></script>
        <script type="text/javascript" src="/src/js/smoothscroll.min.js"></script>
        <script src="/src/js/camp-teaser.js"></script>
        <script src="/src/js/egg.js"></script>
        <script src="/src/js/prism.js"></script>
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '515d9805108d7b3064000032');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);

            // Adds the 'back-to-top'-link before each section, except the first
            $('.docs .cb h3 a[href*="#"]').slice(1).parent().before('<a href="#top" class="back-to-top">Back to top</a>');

          })();

        </script>
    </body>
</html>
