<header>
    <section class="nav">
        <a href="/" class="logo"><img src="/src/img/logo.svg" width="135" alt=""></a>
        <nav class="main-nav">
            
        </nav>
        <ul class="meta-nav">
            <li class="meta-nav-list-item"><a href="http://hood.ie/" target="_blank">Home</a></li>
            <li class="meta-nav-list-item"><a href="http://hood.ie/blog/" target="_blank">Blog</a></li>
            <!-- <li><a href="#">try</a></li> -->
            <li class="meta-nav-list-item"><a href="http://faq.hood.ie" target="_blank">FAQ</a></li>
        </ul>
        <a href="#" class="menu-button">
            <span class="menu-button-span"></span>
        </a>
    </section>
    <section>
        <ul class="sub-nav">
            <li class="sub-nav-list-item">
                <a href="/">Hoodieverse</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/start">Let's start</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/tutorials">Tutorials</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/techdocs">API</a>
            </li>
            <li class="sub-nav-list-item">
                <a href="/plugins">Plugins &amp; deployment</a>
            </li>
            <!--
            <li class="sub-nav-list-item">
                <a href="/divedeep">Dive deep</a>
            </li>
        -->
            <li class="sub-nav-list-item">
                <a href="/community">Community</a>
            </li>
        </ul>
    </section>
</header>
