<div id="api_nav">

   <ul class="">
    <li>Client API</li>
    <li><a href="/{{page.locales}}/techdocs/api/client/hoodie.html">{{site.locales[page.locales].menuapi.hoodie}}</a></li>
    <li><a href="/{{page.locales}}/techdocs/api/client/hoodie.account.html">{{site.locales[page.locales].menuapi.account}}</a></li>
    <li><a href="/{{page.locales}}/techdocs/api/client/hoodie.store.html">{{site.locales[page.locales].menuapi.store}}</a></li>
  </ul>
  <!--
  <ul class="">
    <li>Server API</li>
    <li><a href="/{{page.locales}}/techdocs/api/server/hoodie.task.html">{{site.locales[page.locales].menuapi.task}}</a></li>
  </ul>
  -->
  <ul class="">
    <li>Plugin API</li>
    <li><a href="/{{page.locales}}/techdocs/api/plugins/hoodie.email.html">{{site.locales[page.locales].menuapi.email}}</a></li>
    <li><a href="/{{page.locales}}/techdocs/api/plugins/hoodie.plugin.global.share.html">{{site.locales[page.locales].menuapi.global}}</a></li>
    <!-- <li><a href="/techdocs/api/plugins/hoodie.plugins.payments.html">Payments</a></li>-->
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/plugins">{{site.locales[page.locales].menuapi.next}}</a></li>
  </ul>
</div>
