<div id="api_nav">

  <ul class="">
    <li>{{site.locales[page.locales].menu.start}}</li>    
    <li><a href="/{{page.locales}}/plugins/index.html">{{site.locales[page.locales].menuplugins.intro}}</a></li>
    <li><a href="/{{page.locales}}/plugins/plugins-tutorial.html">{{site.locales[page.locales].menuplugins.build}}</a></li>
  </ul>

  <ul>
    <li>Plugins</li>
    <li><a href="http://plugins.hood.ie/" target="_blank">{{site.locales[page.locales].menuplugins.list}}</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/deployment">{{site.locales[page.locales].menuplugins.next}}</a></li>
  </ul>
</div>