<div id="api_nav">

  <ul>
    <li>Deployment</li>
    <li><a href="/{{page.locales}}/deployment/index.html">{{site.locales[page.locales].menudeploy.intro}}</a></li>
    <li><a href="/{{page.locales}}/deployment/linux.html">{{site.locales[page.locales].menudeploy.unix}}</a></li>
  </ul>

  <ul>
    <li>Hosting Services</li>
    <li><a href="https://wiki.uberspace.de/cool:hoodie">Uberspace</a></li>
    <li><a href="https://appback.com/">Appback</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/community">{{site.locales[page.locales].menudeploy.next}}</a></li>
  </ul>
</div>