<div id="api_nav">

   <ul class="">
    <li>Client API</li>
    <li><a href="/techdocs/api/client/hoodie.html">hoodie</a></li>
    <li><a href="/techdocs/api/client/hoodie.account.html">account</a></li>
    <li><a href="/techdocs/api/client/hoodie.store.html">store</a></li>
  </ul>

  <ul class="">
    <li>Server API</li>
    <li><a href="/techdocs/api/server/hoodie.task.html">task</a></li>
  </ul>

  <ul class="">
    <li>Plugin API</li>
    <li><a href="/techdocs/api/plugins/hoodie.email.html">email</a></li>
    <li><a href="/techdocs/api/plugins/hoodie.plugin.global.share.html">global share</a></li>
    <!-- <li><a href="/techdocs/api/plugins/hoodie.plugins.payments.html">Payments</a></li>-->
  </ul>

  <br />
  <br />

  <ul>
    <li>Next chapter</li>
    <li><a href="/plugins">Plugins &amp; deployment</a></li>
  </ul>
</div>