<div id="api_nav">

  <ul class="">
    <li>General</li>    
    <li><a href="/index.html">Welcome to Hoodie</a></li>
    <li><a href="/glossary.html">Glossary</a></li>
    <li><a href="/tutorials/system-requirements-browser-compatibilities-prerequisites-before-getting-started-with-hoodie.html">System requirements</a></li>
  </ul>

  <ul class="">
    <li>Installation</li>
    <li><a href="/tutorials/installation/development-osx.html">On MacOSX</a></li>
    <li><a href="/tutorials/installation/development-linux.html">On Linux</a></li>
    <li><a href="/tutorials/installation/development-windows.html">On Windows</a></li>
  </ul>

  <ul class="">
    <li>How to get started?</li>
    <li><a href="/tutorials/how-hoodie-works-behind-the-magic.html">Understanding Hoodie</a></li>
    <li><a href="/tutorials/getting-started/getting-started-1.html">Getting started 1</a></li>
  </ul>
  
  <ul class="">
    <li>Client API</li>
    <li><a href="/techdocs/api/client/hoodie.account.html">Hoodie Account</a></li>
    <li><a href="/techdocs/api/client/hoodie.store.html">Hoodie Store</a></li>
    <li><a href="/techdocs/api/client/hoodie.email.html">Hoodie Email</a></li>
  </ul>

  <ul class="">
    <li>Server API</li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Task</a></li>
  </ul>

  <ul class="">
    <li>Plugins &amp; Deployment</li>
    <li><a href="/tutorials/hoodie-plugin-tutorial">Develop a plugin</a></li>
    <li><a href="/tutorials/installation/deployment-linux.html">Deploy you app</a></li>
  </ul>

  <ul class="">
    <li>Concepts</li>    
    <li><a href="/tutorials/hoodie-concepts.html">The concepts behind Hoodie</a></li>
    <li><a href="/techdocs/concepts/index.html">Architecture 1</a></li>
    <li><a href="/techdocs/concepts/architecture.html">Architecture 2</a></li>
    <li><a href="/techdocs/concepts/worker.html">Worker</a></li>
    <li><a href="/techdocs/concepts/plugins/hoodie.plugin.global.share.html">Plugin/Globalshare</a></li>
  </ul>

  <ul class="">
    <li>Community</li>
    <li><a href="/tutorials/contributor-onboarding.html">Onboarding new contributors</a></li>
    <li><a href="/tutorials/hosting-a-hoodie-workshop.html">Hoodie workshop</a></li>
    <li><a href="/tutorials/irc-office-hours.html">IRC office hours</a></li>
  </ul>

</div>