<div id="api_nav">

  <ul class="">
    <li>Tutorials</li>
    <li><a href="/{{page.locales}}/tutorials">{{site.locales[page.locales].menututorials.started}}</a></li>
    <li><a href="/{{page.locales}}/tutorials/map-app.html">Map app</a></li>
    <li><a href="/{{page.locales}}/tutorials/chat-app.html">Chat app</a></li>
    <li><a href="/{{page.locales}}/tutorials/timetracker.html">{{site.locales[page.locales].menututorials.timetracker}}</a></li>
  </ul>

  <ul>
    <li>Development</li>
    <li><a href="/{{page.locales}}/tutorials/development/testing-branches-locally.html">{{site.locales[page.locales].menututorials.testingpackages}}</a></li>
  </ul>

  <ul>
    <li>App Templates</li>
    <li><a href="https://github.com/hoodiehq/hoodie-template-app-map.git" >Map app</a></li>
    <li><a href="https://github.com/hoodiehq/hoodie-template-app-chat" target="_blank">Chat app</a></li>
    <!--
    <li><a href="https://github.com/zoepage/hoodie-template-app-upload" target="_blank">upload app</a></li>
  -->
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/techdocs">{{site.locales[page.locales].menututorials.next}}</a></li>
  </ul>
</div>
