<div id="api_nav">

  <ul class="">
    <li>Hoodieverse</li>    
    <li><a href="/{{page.locales}}/index.html">{{site.locales[page.locales].menuverse.welcome}}</a></li>
    <li><a href="/{{page.locales}}/hoodieverse/system-requirements-browser-compatibilities-prerequisites-before-getting-started-with-hoodie.html">{{site.locales[page.locales].menuverse.requirements}}</a></li>
    <li><a href="/{{page.locales}}/hoodieverse/glossary.html">{{site.locales[page.locales].menuverse.glossary}}</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/start">Let's start</a></li>
  </ul>
</div>