<div id="mainNav" class="fixedNav">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/index.html">About Hoodie</a></li>
    <li>Client API</li>
    <li><a href="/techdocs/api/client/hoodie.account.html">Hoodie Account</a></li>
    <li><a href="/techdocs/api/client/hoodie.store.html">Hoodie Store</a></li>
    <li>Server API</li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Task</a></li>
  </ul>
  
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/techdocs/concepts/index.html"><h3>Concepts</h3></a></li>
    <li><a href="/techdocs/concepts/architecture.html">Architecture</a></li>
    <li><a href="/techdocs/concepts/payments.html">Payments</a></li>
    <li><a href="/techdocs/concepts/worker.html">Worker</a></li>
    <li><a href="/techdocs/concepts/plugins/hoodie.plugin.global.share.html">Plugin/Globalshare</a></li>
  </ul>
</div>