<div id="api_nav">

  <ul class="">
    <li>Tutorials</li>    
    <li><a href="/tutorials">Getting started - pt2</a></li>

  </ul>
  <ul>
    <li>Recipes</li>
    <li><a href="/tutorials/timetracker.html">time tracker</a></li>
    <!-- <li><a href="#">location tracker *</a></li>
    <li><a href="#">money tracker *</a></li>
    <li><br /><small>* soon</small></li> -->
  </ul>

  <ul>
    <li>Template apps</li>
    <li><a href="https://github.com/zoepage/hoodie-template-app-map" target="_blank">map app</a></li>
    <li><a href="https://github.com/zoepage/hoodie-template-app-upload" target="_blank">upload app</a></li>
    <li><a href="https://github.com/zoepage/hoodie-template-app-chat" target="_blank">chat app</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>Next chapter</li>
    <li><a href="/techdocs">API</a></li>
  </ul>
</div>