<div id="mainNav" class="fixedNav">

  <ul class="nav nav-pills nav-stacked">
    <li>General</li>    
    <li><a href="/index.html">Welcome to Hoodie</a></li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li>Start Developing</li>
    <li><a href="/tutorials/installation/development-osx.html">On MacOSX</a></li>
    <li><a href="/tutorials/installation/development-linux.html">On Linux</a></li>
    <li><a href="/tutorials/installation/development-windows.html">On Windows</a></li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li>Tutorials</li>
    <li><a href="/tutorials/hoodie-plugin-tutorial">Plugin Development</a></li>
    <li><a href="/tutorials/installation/deployment-linux.html">Deployment</a></li>
  </ul>
  
  <ul class="nav nav-pills nav-stacked">
    <li>Concepts</li>    
    <li><a href="/techdocs/concepts/index.html">Architecture 1</a></li>
    <li><a href="/techdocs/concepts/architecture.html">Architecture 2</a></li>
    <li><a href="/techdocs/concepts/payments.html">Payments</a></li>
    <li><a href="/techdocs/concepts/worker.html">Worker</a></li>
    <li><a href="/techdocs/concepts/plugins/hoodie.plugin.global.share.html">Plugin/Globalshare</a></li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li>Client API</li>
    <li><a href="/techdocs/api/client/hoodie.account.html">Hoodie Account</a></li>
    <li><a href="/techdocs/api/client/hoodie.store.html">Hoodie Store</a></li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li>Server API</li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Account</a></li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Database</a></li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Email</a></li>
    <li><a href="/techdocs/api/server/hoodie.task.html">Hoodie Task</a></li>
  </ul>

</div>