<div id="api_nav">

  <ul class="">
    <li>Tutorials</li>
    <li><a href="/{{page.locales}}/tutorials">{{site.locales[page.locales].menututorials.started}}</a></li>

  </ul>
  <ul>
    <li>{{site.locales[page.locales].menu.recipes}}</li>
    <li><a href="/{{page.locales}}/tutorials/timetracker.html">{{site.locales[page.locales].menututorials.timetracker}}</a></li>
    <!-- <li><a href="#">location tracker *</a></li>
    <li><a href="#">money tracker *</a></li>
    <li><br /><small>* soon</small></li> -->
  </ul>

  <ul>
    <li>Template apps</li>
    <li><a href="/{{page.locales}}/tutorials/map-app.html" >map app</a></li>
    <li><a href="https://github.com/zoepage/hoodie-template-app-upload" target="_blank">upload app</a></li>
    <li><a href="https://github.com/zoepage/hoodie-template-app-chat" target="_blank">chat app</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/techdocs">{{site.locales[page.locales].menututorials.next}}</a></li>
  </ul>
</div>
