<div id="api_nav">

  <ul class="">
    <li>Community</li>    
    <li><a href="/{{page.locales}}/community/">{{site.locales[page.locales].menucommunity.intro}}</a></li>
    <li><a href="/{{page.locales}}/community/contributor-onboarding.html">{{site.locales[page.locales].menucommunity.onboarding}}</a></li>
    <li><a href="/{{page.locales}}/community/irc-office-hours.html">{{site.locales[page.locales].menucommunity.irc}}</a></li>
    <li><a href="/{{page.locales}}/community/hosting-a-hoodie-workshop.html">{{site.locales[page.locales].menucommunity.workshop}}</a></li>
  </ul>
</div>