<div id="api_nav">

  <ul class="">
    <li>{{site.locales[page.locales].menu.start}}</li>    
    <li><a href="/{{page.locales}}/start/index.html">{{site.locales[page.locales].menustart.installation}}</a></li>
    <li><a href="/{{page.locales}}/start/getting-started/getting-started-1.html">{{site.locales[page.locales].menustart.started}}</a></li>
  </ul>

  <br />
  <br />

  <ul>
    <li>{{site.locales[page.locales].menu.next}}</li>
    <li><a href="/{{page.locales}}/tutorials">{{site.locales[page.locales].menustart.next}}</a></li>
  </ul>
</div>