.docs {
	font-family: "Fira Sans";
}

	#api_nav ul {
		margin-bottom: 1.6em;
	}

	#api_nav li {
		margin-bottom: 0.2em; 
		font-size: 0.9em;
	}

		#api_nav li a {
			background-color: transparent;
			background-image: none !important;
			font-size: 0.9em;
		}

	.docs pre {
		margin-bottom: 1.6em;
		padding: 0 1.4em 1em;
		background-color: #fdfdfd;
	}

		.docs pre code {
			white-space: pre !important;
			font-size: 1em;
		}

	.docs h2 {
		margin-top: 2em;
	}