.docs {
	font-family: "Fira Sans";
}

	#api_nav {
		margin-top: 4em;
	}

	#api_nav ul {
		margin-bottom: 1.6em;
	}

	#api_nav li {
		margin-bottom: 0.2em; 
		font-size: 0.9em;
	}

		#api_nav li a {
			background-color: transparent;
			background-image: none !important;
			font-size: 0.9em;
		}

			#api_nav li a:hover {
				text-decoration: underline;
			}

	.docs pre {
		margin-bottom: 1.6em;
		padding: 0 1.4em 1em;
		background-color: #fdfdfd;
	}

		.docs pre code {
			white-space: pre !important;
			font-size: 1em;
		}

	.docs h2,
	.docs h4 {
		margin-top: 2em;
	}

	.docs h3 {
		margin-top: 3em;
	}

	.docs h5 {
		margin-bottom: 0.25rem;
	}

	.hoodieverse .sub-nav li:nth-child(1) a {
		text-decoration: underline;
	}

	.start .sub-nav li:nth-child(2) a {
		text-decoration: underline;
	}

	.tutorials .sub-nav li:nth-child(3) a {
		text-decoration: underline;
	}

	.api .sub-nav li:nth-child(4) a {
		text-decoration: underline;
	}

	.plugins .sub-nav li:nth-child(5) a {
		text-decoration: underline;
	}

	.divedeep .sub-nav li:nth-child(6) a {
		text-decoration: underline;
	}

	.community .sub-nav li:nth-child(6) a {
		text-decoration: underline;
	}

	.docs ul {
		list-style-type: circle;
	}

	.docs .no-underlining {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
	}