@font-face {
    font-family: 'FiraMono';
    src: url('../font/FiraMono-Regular.eot');
    src: url('../font/FiraMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/FiraMono-Regular.woff') format('woff'),
         url('../font/FiraMono-Regular.ttf') format('truetype'),
         url('../font/FiraMono-Regular.svg#FiraSansMono') format('svg');
    font-weight: 300;
    font-style: normal;

}

.docs {
	font-family: 'FiraSans', sans-serif;
	font-size: 100%;
    line-height: 1.618;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none !important;
}

.back-to-top{
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.back-to-top:hover {
  opacity: 1;
}

#top{
  display: block;
  height: 50px;
  background-image: none;
}

.docs .cb h1,
.docs .cb h2,
.docs .cb h3,
.docs .cb h4,
.docs .cb h5,
.docs .cb h6 {
  text-shadow: none !important;
}

.docs .cb h1 a[href*="#"],
.docs .cb h2 a[href*="#"],
.docs .cb h3 a[href*="#"],
.docs .cb h4 a[href*="#"],
.docs .cb h5 a[href*="#"],
.docs .cb h6 a[href*="#"] {
  text-decoration: none;
  border-bottom: none;
  background-image: none;
}

/* Moves anchor link #s in headlines out to the left, if there's room */
@media screen and (min-width: 700px){
  .docs .cb h1 a[href*="#"]:hover:before,
  .docs .cb h2 a[href*="#"]:hover:before,
  .docs .cb h3 a[href*="#"]:hover:before,
  .docs .cb h4 a[href*="#"]:hover:before,
  .docs .cb h5 a[href*="#"]:hover:before,
  .docs .cb h6 a[href*="#"]:hover:before {
    content: "#";
    display: block;
    width: 0.85em;
    height: 1.2em;
    background-color: #273183;
    position: absolute;
    margin: 3px 0 0 -2em;
    border-radius: 50%;
    color: #FFF;
    font-style: normal;
    font-size: 0.8em;
    padding-left: 0.35em;
    text-shadow: none;
  }

  .docs .cb h1 a[href*="#"]:before,
  .docs .cb h2 a[href*="#"]:before,
  .docs .cb h3 a[href*="#"]:before,
  .docs .cb h4 a[href*="#"]:before,
  .docs .cb h5 a[href*="#"]:before,
  .docs .cb h6 a[href*="#"]:before {
    content: "";
    display: block;
    width: 0.85em;
    height: 1.2em;
    background-color: #273183;
    position: absolute;
    margin: 3px 0 0 -2em;
    border-radius: 50%;
    color: #FFF;
    font-style: normal;
    font-size: 0.8em;
    padding-left: 0.35em;
    text-shadow: none;
  }
}

/* Gives all section headlines some space at the top when navigated to via anchor */
.docs .cb a:not([href]) {
  /*display: block;*/
}

.docs .cb ul{
  list-style-type: disc;
  color: #273183;
}

.docs .cb li{
    margin-bottom: 0;
}

.docs header section .meta-nav li a.active {
	font-weight: 500;
}

	#api_nav {
		margin-top: 4em;
	}

	#api_nav ul {
		margin-bottom: 1.6em;
	}

	#api_nav li {
		margin-bottom: 0.2em;
		font-size: 0.9em;
	}

		#api_nav li a {
			background-color: transparent;
			background-image: none !important;
			font-size: 0.9em;
		}

			#api_nav li a:hover {
				text-decoration: underline;
			}

	.docs pre {
		margin-bottom: 1.6em;
		padding: 0 1.4em 1em;
		background-color: #fdfdfd;
    	overflow: scroll;
    }

        .docs pre code {
            white-space: pre !important;
            font-size: 1em;
            font-family: 'FiraMono', Courier, sans-serif;
            margin-top: 0 !important;
            padding-top: 0;
		}

	.docs h2,
	.docs h4 {
		margin-top: 2em;
	}

	.docs h3 {
		margin-top: 3em;
	}

	.docs h5 {
		margin-bottom: 0.25rem;
	}

	.hoodieverse .sub-nav li:nth-child(1) a {
		text-decoration: underline;
	}

	.start .sub-nav li:nth-child(2) a {
		text-decoration: underline;
	}

	.tutorials .sub-nav li:nth-child(3) a {
		text-decoration: underline;
	}

	.api .sub-nav li:nth-child(4) a {
		text-decoration: underline;
	}

	.plugins .sub-nav li:nth-child(5) a {
		text-decoration: underline;
	}

	.deployment .sub-nav li:nth-child(6) a {
		text-decoration: underline;
	}

	.community .sub-nav li:nth-child(7) a {
		text-decoration: underline;
	}

	.docs ul {
		list-style-type: circle;
	}

	.docs .no-underlining {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
	}

	.api table {
		margin-bottom: 2.6em;
	}

	.api th,
	.api td {
		text-align: left;
		padding: 5px 15px;
    }

  .api th {
    font-weight: 500;
    text-transform: capitalize;
    background-color: #F0F1F5;
  }

  .api th:nth-child(1),
  .api td:nth-child(1){
    width: auto;
  }

  .api tr:nth-child(2n) td {
    background-color: #fff;
  }
  .api tr:nth-child(2n+1) td {
    background-color: #fdfdfd;
  }

  .api td:nth-child(n+2){
      border-left: 1px solid #F0F1F5;
  }

.docs .footer ul{
	text-align: right;
	list-style: none;
}

.docs img{
  border: none;
}

/*
.docs .nav-language {
	position: absolute;
	top: 70px;
	z-index:4000;
}
	.docs .nav-language li {
		float: left;
	}
*/


/* FOR LATER MIGRATION TO GLOBAL STYLES*/

/* TODO: migrate this to core hood.ie styles. 400 is also better for the nav links*/
.docs a{
  font-weight: 400;
  background-size: 1px 2px;
  text-shadow: 2px 0px 0 #FFF, -2px 0 0 #FFF;
}
