<!DOCTYPE html>
<html class="no-js" lang="{{ page.locales }}">
{% include head.html %}
    <body class="blue docs hoodieverse">
       {% include /header-get-help.html %}
        <div class="content">
        	
        	<div class="cb">
                <aside>
                    {% include /menu-hoodieverse.html %}
                </aside>
        		<article>
        			{{ content }}
        		</article>
           	</div>
        </div>
        {% if page.locales == 'camp' %}
        {% include /footer-camp.html %}
        {% else  %}
        {% include /footer.html %}
        {% endif  %}
