<!DOCTYPE html>
<html class="no-js" lang="{{ page.locales }}">
{% include head.html %}
    <body class="blue docs api">
       {% include /{{page.locales}}/header-get-help.html %}
        <div class="content">
        	
        	<div class="cb">
                <aside>
                    {% include /{{page.locales}}/menu-api.html %}
                </aside>
        		<article>
        			{{ content }}
        		</article>
           	</div>
        </div>
        {% include /{{page.locales}}/footer.html %}
