<!DOCTYPE html>
<html class="no-js" lang="{{ page.locales }}">
{% include head.html %}
    <body class="blue docs tutorials">
       {% include /header-get-help.html %}
        <div class="content">
        	
        	<div class="cb">
                <aside>
                    <img src="/src/img/doc-doc-chicken.png" alt="The doc doc chicken" />
                </aside>
        		<article>
        			{{ content }}
        		</article>
           	</div>
        </div>
        {% include /footer.html %}
